//.user-list > {
//    //width: 700px;
//    //height: 40px;
//    //margin: 20px 100px;
//    //padding: 20px;
//    //border: 1px solid rgb(204, 201, 201);
//    //border-radius: 10px;
//    //text-align:start;
//    //display: flex;
//    //flex-direction: column;

//}

.user-line{
    border: 1px solid rgb(206, 202, 202);
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: start;
    padding: 5px 10px;
    margin: 5px 0;
}
ul{
    width: 700px;
    height: 100%;
    margin: 20px 200px;
    padding: 20px;
    border: 1px solid rgb(204, 201, 201);
    border-radius: 10px;
    text-align:start;
    display: flex;
    flex-direction: column;
}
li {
    list-style: none;
}